body{
    background-color: aqua;
    display: flex;  /* Needed for aligning child vertically in center*/
    align-items: center;
    height: 100vh;  /*else body height becomes equal to child height */
    /* border: 2px solid red; */
}

.outer-card{
    border: 2px solid red;
    width : 300px;
    height: 400px;
    margin:auto;
    overflow-y: scroll;
    overflow-x: scroll;
}

.complete-btn {
    background-color: #007bff;
    color: white;
}

.completed {
    text-decoration: line-through;
    color: gray;
}